body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-time-picker .react-time-picker__wrapper {
  border: 1px solid var(--chakra-colors-gray-200);
  border-radius: 5px;
  padding: 5px 0 5px 16px;
  height: 40px;
}
